In [1]:
import csv
import numpy as np
import pandas as pd
from src.deck import *

In [8]:
photo_df = pd.read_csv('/Users/azeez/Downloads/language_test_imgs/results/photo_table.csv')
vocab_df = pd.read_csv('/Users/azeez/Downloads/language_test_imgs/results/vocab_table.csv')
vocab_df.iloc[8:]

    photo_id      vocab_word  english_translation     source
8          1          finden                 find  extracted
9          1       verwenden                  use  extracted
10         1       kostenlos                 free  extracted
11         0            nach                after  suggested
12         0            eine                    a  suggested
13         0      Gesundheit               Health  suggested
14         0          gesund              healthy  suggested
15         0        gesundes              healthy  suggested
16         1       nachhilfe                 help  suggested
17         1      unterricht             teaching  suggested
18         1          praxis             practise  suggested
19         1          stelle                  job  suggested
20         1    arbeitsplatz            workplace  suggested
21         1             job                  job  suggested
22         1      berufliche  professional skills  suggested
23         1     fähigkeiten              success  suggested
24         1          erfolg         step-by-step  suggested
25         1    schrittweise        collaboration  suggested
26         1  zusammenarbeit               safety  suggested
27         1      sicherheit               health  suggested

### Investigate Errors

In [13]:
photo_df

,photo_id,image_datetime,latitude_ref,latitude,longitude_ref,longitude,altitude_ref,altitude,timestamp,date,json_response,ocr_text,extracted_words,translated_extracted_words,suggested_words,translated_suggested_words,image_quality,relevance_explanation,quality_explanation
0,0,2024:05:20 13:43:04,None,"[52, 28, 5491/100]",E,"[13, 24, 3757/100]",0,237169/4784,"[11, 43, 3]",2024:05:20,"JSON_START:\n{\n""extracted_words"": [""Mary Jane...",> s E\n\nMARN JANE\n\n':'i._-;-...„.7_ E ‘ VIS...,"['Mary Jane', 'Cannabis Expo & Festival', '14....","['Mary Jane', 'Cannabis Expo & Festival', 'Jun...","['nach', 'eine', 'Gesundheit', 'gesund', 'gesu...","['after', 'a', 'Health', 'healthy', 'healthy']",high,The image features a large billboard for the C...,"The OCR text is clear and complete, making it ..."
1,1,2024:05:23 09:50:44,None,"[52, 29, 2053/100]",E,"[13, 26, 443/50]",0,197355/5078,"[7, 50, 35]",2024:05:23,"JSON_START:\n{\n""extracted_words"": [""ausbildun...","\a E\n\nW ga\n\nK\n\n°gLn-""‘t RE a\n\nBeste Au...","['ausbildung', 'suchen', 'karriere', 'finden',...","['training', 'search', 'career', 'find', 'use'...","['nachhilfe', 'unterricht', 'praxis', 'stelle'...","['help', 'teaching', 'practise', 'job', 'workp...",low,The image is a billboard for a company called ...,The OCR text is somewhat blurry and difficult ...

In [16]:
import json 

# Errors are found with the order of word-translation pairign in image 1. checking to see if its an llm issue
error_sample = photo_df.loc[photo_df['photo_id'] == 1].iloc[0]['json_response']
# print(json.dumps(error_sample[len('JSON_START:\n'):]))
print(error_sample[len('JSON_START:\n'):])

{
"extracted_words": ["ausbildung", "suchen", "karriere", "finden", "verwenden", "kostenlos"],
"suggested_words": ["nachhilfe", "unterricht", "praxis", "stelle", "arbeitsplatz", "job", "berufliche", "fähigkeiten", "erfolg", "schrittweise", "zusammenarbeit", "sicherheit", "gesundheit"],
"translated_extracted_words": ["training", "search", "career", "find", "use", "free"],
"translated_suggested_words": ["help", "teaching", "practise", "job", "workplace", "job", "professional skills", "success", "step-by-step", "collaboration", "safety", "health"],
"image_quality": "low",
"relevance_explanation": "The image is a billboard for a company called Mettler. The billboard is advertising how to find a job and includes a photo of a young man with the caption 'ausbildung suchen, karriere finden'. This suggests that the company offers training and career development opportunities.",
"quality_explanation": "The OCR text is somewhat blurry and difficult to read. However, it appears to be promoting job search and career development services."
}